{% load static %}
<!DOCTYPE html>
<html lang="de" style="color: rgb(255,255,255);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sponsorenlauf</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-Dark-icons.css' %}">
</head>

<body style="background: rgb(33,37,41);">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><img src="{% static 'assets/img/LogoGSG-1952467691.png' %}" width="60" height="70" style="width: 60px;"><a class="navbar-brand d-flex align-items-center" href="/" style="text-align: right;margin: 20px;"><span style="text-align: right;margin: 5px;position: relative;">Sponsorenlauf 2023</span></a>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="background: #212529;">
        <h1 style="color: rgb(255,255,255);">{{ schüler.name }}</h1>
        <h1 style="color: var(--bs-gray-100);font-style: italic;">Stats</h1>
        <p style="color: var(--bs-gray-100);">gelaufene Kilometer: </p>
        <p style="color: var(--bs-gray-100);font-weight: bold;">{{ schüler.kilometer }}</p>
        <p style="color: var(--bs-gray-100);">Platz in der Rangliste (nach Kilometer): </p>
        <p style="color: var(--bs-gray-100);font-weight: bold;">{{ platz }}</p>
        <h1 style="color: var(--bs-gray-100);font-style: italic;">Runden</h1>
        {% for runde in runden %}
        <div class="card" style="border-width: 4px;border-color: var(--bs-blue);border-radius: 5px;">
            <div class="card-body" style="background: #212529;border-color: var(--bs-blue);">
                <h4 class="card-title" style="color: var(--bs-card-bg);">Uhrzeit: {{ runde.endtime }}</h4>
                <p style="color: var(--bs-card-bg);">Zeit (HH:MM:SS) : {{ runde.time }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" href="https://www.gsg-waldkirch.de/impressum.html">Impressum</a></li>
                <li class="list-inline-item me-4"><a class="link-light" href="https://www.gsg-waldkirch.de/datenschutz.html">Datenschutz</a></li>
                <li class="list-inline-item"></li>
            </ul>
            <p class="text-muted mb-0">Copyright © 2023 Sponsorenlauf-AK des GSG Waldkirch</p>
        </div>
    </footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>